.btn {
  padding: 10px 20px;
  font-weight: 200%;
  text-decoration: none;
  border-radius: 200px;
  color: orange;
  margin: 10px;
}

h1 {
  color: gray;
  text-shadow: 2px 2px black;
  margin: 30px 0;
}

.tooltip.bottom {
  background-color: #8AC007;
      color: #FFFFFF;
      border: 1px solid green;
      padding: 15px;
      font-size: 20px;
}

#header {
  text-decoration:
}
.ion-ios-sunny,
.ion-ios-partlysunny,
.ion-ios-cloudy,
.ion-ios-rainy,
.ion-ios-thunderstorm,
.ion-ios-snowy,
.ion-ios-moon
 {
  display:  inline-block;
  font-size: 400%;
}

.weather {

  margin: auto%;
}
.btn {
  background: blue;
}
.ion-ios-sunny {
  color: yellow;
  background-color: DeepSkyBlue;
}
.ion-ios-partlysunny {
  color: #FFFF33;
  text-shadow: 1px 1px gray;
  back-ground-color: LightSkyBlue;
}
.ion-ios-cloudy {
  color: gray;
  background-color: LightSteelBlue;
  }
.ion-ios-rainy {
  color: DarkSlateGray;
  background-color: LightSlateGray;
  }
.ion-ios-thuderstorm {
  color: gray;
  background-color: SlateGray;
  }
.ion-ios-snowy {
  color: white;
  background-color: SteelBlue;
  }
  .ion-ios-moon {
  color: white;
  background-color: black;
}

#sunny.btn {
  color: yellow;
  background: DeepSkyBlue;
}
#partlysunny.btn {
  color: #FFFF33;
  background: LightSkyBlue;
}
#cloudy.btn {
  color: gray;
  background: LightSteelBlue;
}
#rainy.btn {
  color: black;
  background: LightSlateGray;
}
#thunderstorm.btn {
  color: white;
  background: SlateGray;
}
#snowy.btn {
  color: white;
  background: SteelBlue;
}
#night.btn {
  color: silver;
  background: black;
}

.todo-item {
  margin-bottom: 20px;
}

.dark {
    display: inline-block;
    background: black;
}
img {
  width: 100%;

}
.dark img {
    display: block;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.dark:hover img {
    opacity: 0.2;
}